name: Publish
on:
    workflow_dispatch:
env:
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    DOTNET_CLI_TELEMETRY_OPTOUT: true
    GITHUB_ACTIONS: true
jobs:
    build:
        name: Build and pack
        runs-on: ubuntu-latest
        outputs:
            Version: ${{ steps.gitversion.outputs.SemVer }}
            CommitsSinceVersionSource: ${{ steps.gitversion.outputs.CommitsSinceVersionSource }}
            PreReleaseTag: ${{ steps.gitversion.outputs.PreReleaseTag }}
        steps:
            -   uses: actions/checkout@v4
                with:
                    fetch-depth: 0

            -   name: Setup .NET Core
                uses: actions/setup-dotnet@v3
                with:
                    global-json-file: global.json

            -   name: Install GitVersion
                uses: gittools/actions/gitversion/setup@v0.10.2
                with:
                    versionSpec: 5.x

            -   name: Determine Version
                uses: gittools/actions/gitversion/execute@v0.10.2
                id: gitversion

            -   name: Display GitVersion outputs
                run: |
                    echo "Version: ${{ steps.gitversion.outputs.SemVer }}"
                    echo "CommitsSinceVersionSource: ${{ steps.gitversion.outputs.CommitsSinceVersionSource }}"

            -   name: Tool Restore
                run: dotnet tool restore

            -   name: Test
                run: dotnet nuke test
            -   name: Build and Pack NuGet package
                run: dotnet pack src/Backdash --configuration Release --include-symbols -p:Version='${{ steps.gitversion.outputs.SemVer }}' --output ./build_artifacts

            -   name: Upload lib NuGet package artifact to GitHub
                uses: actions/upload-artifact@v3
                with:
                    name: buildArtifacts
                    path: ./build_artifacts
    release:
        name: Publish Nuget
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/master' && needs.build.outputs.CommitsSinceVersionSource > 0 #Only release if there has been a commit/version change
        needs: build
        steps:
            -   name: Download lib nuget package artifact
                uses: actions/download-artifact@v3
                with:
                    name: buildArtifacts
                    path: ./build_artifacts

            -   name: Push package to Nuget
                run: |
                    dotnet nuget push build_artifacts/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
            -   name: Create Release

                uses: ncipollo/release-action@v1
                with:
                    tag: ${{ needs.build.outputs.Version }}
                    prerelease: ${{ needs.build.outputs.PreReleaseTag }}
                    name: Release ${{ needs.build.outputs.Version }}
                    artifacts: "build_artifacts/*"
                    token: ${{ secrets.GITHUB_TOKEN }}
